body {
  background-color: blue;
}

form input {
  text-align: center;
  margin: 10px;
  width: 50%;
}
.data {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  text-align: center;
}

#isCool {
  margin: -50px;
}

.formText {
  text-align: center;
  color: white;
}
